{%- assign contributors = site.data.contributors1.contributor | sort: 'givenName' %}
{%- if include.custom %}
{%- assign allcontributors = include.custom | split: ", " | sort %}
{%- else %}
{%- for page in site.pages %}
{%- if page.contributors and page.search_exclude != true %}
{%- assign pagecontr = page.contributors | join: ", " %}
{%- if allcontrstr %}
{%- assign allcontrstr = allcontrstr | append: ", " | append: pagecontr %}
{%- else %}
{%- assign allcontrstr = allcontrstr | append: pagecontr %}
{%- endif  %}
{%- endif  %}
{%- endfor %}
{%- for contr in contributors %}
{%- assign allcontrstr = allcontrstr | append: ", " | append: contr.givenName | append: " " | append: contr.familyName %}
{%- endfor %}

{%- assign allcontributors = allcontrstr | split: ", " | uniq | sort %}
{%- endif  %}
{%- for contributor in allcontributors %}
  
  {%- assign c = contributors[contributor] %}
  {{c | inspect}}
  {%- if c.givenName != null %}
    {{c | inspect}}
  {%- endif %}


{%- endfor %}
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-xl-5 g-4 contributor-cards">
    {%- for contributor in contributors %}
    <div class="col">
      <div class="card h-100">
        {%- assign id = contributor.url | default: 'no_github' %}
        <div class="position-relative">
          {%- if contributor.image %}
          <img src="{{ contributor.image }}" class="card-img-top p-3 rounded-circle" alt="{{ contributor.name }}">
          {%- else %}
          <img src="https://avatars.githubusercontent.com/-1" class="card-img-top p-3 rounded-circle" alt="{{ contributor.name }}">
          {%- endif %}
          {%- if contributor.jobTitle %}
          <span class="badge position-absolute top-0 end-0">{{ contributor.jobTitle | capitalize }}</span>
          {%- endif %}
        </div>
        <div class="card-body text-center">
            <p class="card-title">{{ contributor.givenName }} {{ contributor.familyName }}</p>
            {%- if contributor.affiliation %}
            <p class="card-affiliation">{{ contributor.affiliation.name }}</p>
            {%- endif %}
            {%- if contributor.url or contributor.email or contributor.mainEntityOfPage %}
            <div class="d-flex mt-3 justify-content-center social-icons">
                {%- if contributor.url %}
                <div class="mx-1"><a href="{{contributor.url}}"><i class="fab fa-github"></i></a></div>
                {%- endif %}
                {%- if contributor.email %}
                <div class="mx-1"><a href="mailto:{{contributor.email}}"><i class="fas fa-envelope"></i></a></div>
                {%- endif %}
                {%- if contributor.mainEntityOfPage %}
                <div class="mx-1"><a href="{{contributor.mainEntityOfPage}}"><i class="fab fa-orcid"></i></a></div>
                {%- endif %}
            </div>
            {%- endif %}
        </div>
      </div>
    </div>
    {%- endfor %}
</div>
